@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 10 10 15;
    --card: 255 255 255;
    --card-foreground: 10 10 15;
    --popover: 255 255 255;
    --popover-foreground: 10 10 15;
    --primary: 59 130 246;
    --primary-foreground: 255 255 255;
    --secondary: 243 243 244;
    --secondary-foreground: 24 24 27;
    --muted: 243 243 244;
    --muted-foreground: 113 113 122;
    --accent: 236 240 245;
    --accent-foreground: 16 23 42;
    --destructive: 234 56 41;
    --destructive-foreground: 250 250 250;
    --border: 228 228 231;
    --input: 228 228 231;
    --ring: 59 130 246;
    --chart-1: 16 23 42;
    --chart-2: 42 157 143;
    --chart-3: 39 70 86;
    --chart-4: 225 183 94;
    --chart-5: 237 147 65;
    --radius: 0.5rem;
  }
  .dark {
    --background: 10 10 10;
    --foreground: 250 250 250;
    --card: 10 10 10;
    --card-foreground: 250 250 250;
    --popover: 10 10 10;
    --popover-foreground: 250 250 250;
    --primary: 96 165 250;
    --primary-foreground: 255 255 255;
    --secondary: 38 38 38;
    --secondary-foreground: 250 250 250;
    --muted: 38 38 38;
    --muted-foreground: 163 163 163;
    --accent: 38 38 38;
    --accent-foreground: 250 250 250;
    --destructive: 127 29 29;
    --destructive-foreground: 250 250 250;
    --border: 38 38 38;
    --input: 38 38 38;
    --ring: 96 165 250;
    --chart-1: 38 115 217;
    --chart-2: 46 184 143;
    --chart-3: 217 145 51;
    --chart-4: 163 82 204;
    --chart-5: 217 60 79;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
